<link href="~/Style_Sheets/Customer/Index.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<h2>Customer Settings</h2>

<div id="rcorners">
    <h3 style="display:table-cell; text-align:left;vertical-align:top;">General</h3>
    <fieldset>
        <div>
            @Html.Label("X")
            @Html.TextBox("X")
        </div>
        <div>
            @Html.Label("Y")
            @Html.TextBox("Y")
        </div>
        <div>
            @Html.Label("Width")
            @Html.TextBox("Width")
        </div>
        <div>
            @Html.Label("Height")
            @Html.TextBox("Height")
        </div>
        <div>
            @Html.CheckBox("FullScreen")
            @Html.Label("Full Screen")
        </div>
    </fieldset>
</div>

<div id="rcorners">
    <h3 style="display:table-cell; text-align:left;vertical-align:top;">Display</h3>
    <fieldset>
        <div>
            @Html.Label("X")
            @Html.TextBox("X")
        </div>
        <div>
            @Html.Label("Y")
            @Html.TextBox("Y")
        </div>
        <div>
            @Html.Label("Width")
            @Html.TextBox("Width")
        </div>
        <div>
            @Html.Label("Height")
            @Html.TextBox("Height")
        </div>
        <div>
            @Html.CheckBox("FullScreen")
            @Html.Label("Full Screen")
        </div>
    </fieldset>
</div>

<div id="rcorners">
    <h3 style="display:table-cell; text-align:left;vertical-align:top;">Sync</h3>
    <fieldset>
        <div>
            @Html.Label("X")
            @Html.TextBox("X")
        </div>
        <div>
            @Html.Label("Y")
            @Html.TextBox("Y")
        </div>
        <div>
            @Html.Label("Width")
            @Html.TextBox("Width")
        </div>
        <div>
            @Html.Label("Height")
            @Html.TextBox("Height")
        </div>
        <div>
            @Html.CheckBox("FullScreen")
            @Html.Label("Full Screen")
        </div>
    </fieldset>
</div>

<div id="rcorners">
    <h3 style="display:table-cell; text-align:left;vertical-align:top;">Network</h3>
    <fieldset>
        <div>
            @Html.Label("X")
            @Html.TextBox("X")
        </div>
        <div>
            @Html.Label("Y")
            @Html.TextBox("Y")
        </div>
        <div>
            @Html.Label("Width")
            @Html.TextBox("Width")
        </div>
        <div>
            @Html.Label("Height")
            @Html.TextBox("Height")
        </div>
        <div>
            @Html.CheckBox("FullScreen")
            @Html.Label("Full Screen")
        </div>
    </fieldset>
</div>

<div id="rcorners">
    <h3 style="display:table-cell; text-align:left;vertical-align:top;">Social</h3>
    <fieldset>
        <div>
            @Html.Label("X")
            @Html.TextBox("X")
        </div>
        <div>
            @Html.Label("Y")
            @Html.TextBox("Y")
        </div>
        <div>
            @Html.Label("Width")
            @Html.TextBox("Width")
        </div>
        <div>
            @Html.Label("Height")
            @Html.TextBox("Height")
        </div>
        <div>
            @Html.CheckBox("FullScreen")
            @Html.Label("Full Screen")
        </div>
    </fieldset>
</div>

<div id="rcorners">
    <h3 style="display:table-cell; text-align:left;vertical-align:top;">Advanced</h3>
    <fieldset>
        <div>
            @Html.Label("X")
            @Html.TextBox("X")
        </div>
        <div>
            @Html.Label("Y")
            @Html.TextBox("Y")
        </div>
        <div>
            @Html.Label("Width")
            @Html.TextBox("Width")
        </div>
        <div>
            @Html.Label("Height")
            @Html.TextBox("Height")
        </div>
        <div>
            @Html.CheckBox("FullScreen")
            @Html.Label("Full Screen")
        </div>
    </fieldset>
</div>